<div id="header">
    <div id="menuleft" class="menu">
        <a id="logsign" class="button" href="/login">Login/Register</a>
        <div class="line"></div>
        <a id="post" href='/post' class="button">Post</a>
    </div>
	<div id="titlediv">
		<a id='title' href='/index'>Immigration <br> 2014-2015</a>
	</div>
    <div id="menuright" class="menu">
        <a id="news" class="button">News</a>
        <div class="line"></div>
        <div id="dropMenu">More<br>
            <!--<a class="button"href="/me">My Account</a>-->
            <a class="button dropMenuItem">Forum</a>
        </div>
    </div>
    <!--<div id="adminmenu">Admin Menu
        <a class="admindrop">Approve</a>
        <a class="admindrop">Approve</a>
        <a class="admindrop">Approve</a>
    </div>-->
</div>