<meta charset="utf-8">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js?"></script>
<title>Immigration project 2014</title>
<link href="style.css" rel="stylesheet" type="text/css">
<script src='commoncode.js'></script>