<!DOCTYPE html>
	<head>
		{{>links}}
	</head>
	<body>
		<div id="main">
			{{>header}}
			<div id="content">
				<div id="bigChangeBox">
					<div id="changeBox">
						<div id="changeTitle">Edit User Info</div>
						<div id="changeFieldBox">
							<div style="float:left; margin-left : 15px; text-align : right">
							<div class="changeText">Old Name :</div>
							<div class="changeText">Old Character :</div>
							<div class="changeText">New Name :</div>
							<div class="changeText">New Character :</div>
							<div class="changeText">Username :</div>
							<div class="changeText">Password :</div>
							<div class="changeText">Bio :</div>
							<br>
							</div>
							<div style="float:right; text-align : left">
							<input class="changeBoxInput"> <br>
							<input class="changeBoxInput"> <br>
							<input class="changeBoxInput"> <br>
							<input class="changeBoxInput"> <br>
							<input class="changeBoxInput"> <br>
							<input class="changeBoxInput"> <br>
							<textarea id="changeTextarea"></textarea>
							</div>
						</div>
							<div class="submit" id="changeSubmit">Submit</div>
					</div>
				</div>
			</div>
			{{>footer}}
		</div>
	</body>
</html>