<!DOCTYPE html>
	<head>
		{{>links}}
	</head>
	<body>
		<div id="main">
			{{>header}}
			<div id="content">
				<div id="bigChangeBox">
					<div id="changeBox">
						<div id="changeTitle">Edit User Info</div>
						<div id="changeFieldBox">
							<div style="float:left; margin-left : 15px; text-align : right">
							<!--<div class="changeText">Old Name :</div>
							<div class="changeText">Old Character :</div>-->
							<div class="changeText">New Name :</div>
							<div class="changeText">New Character :</div>
							<div class="changeText">Username :</div>
							<div class="changeText">Password :</div>
							<div class="changeText">Bio :</div>
							<br>
							</div>
							<div style="float:right; text-align : left">
							<!--<input class="changeBoxInput" id="oldName"> <br>
							<input class="changeBoxInput" id="oldChar"> <br>-->
							<input class="changeBoxInput" id="newName"> <br>
							<input class="changeBoxInput" id="newChar"> <br>
							<input class="changeBoxInput" id="user"> <br>
							<input class="changeBoxInput" id="pass"> <br>
							<textarea id="changeTextarea">asdf</textarea>
							</div>
						</div>
							<div class="submit" id="changeSubmit">Submit</div>
					</div>
				</div>
			</div>
			{{>footer}}
		</div>
		<script>
            function ChangeInfo () {
            	//oldName = document.getElementById('oldName').value;
            	newName = document.getElementById('newName').value;
            	//oldChar = document.getElementById('newName').value;
            	newChar = document.getElementById('newChar').value;
            	user = document.getElementById('user').value;
            	pass = document.getElementById('pass').value;
            	var bio = document.getElementById('changeTextarea').value;
            	object = {
            		//"oldName":oldName,
            		//"oldChar":oldChar,
            		"name":newName,
            		"character":newChar,
            		"user":user,
            		"pass":pass,
            		"bio":bio
            	}
            	toSend = JSON.stringify(object);
            	$.ajax({
            		type:"POST",
            		url:"/edituserinfo",
            		contentType:"application/json",
            		data:toSend,
            		success : function (data){
            			if (data){
            				window.location.assign('/profile/'+data);
            			}
            		}
            	})
            }
            $('#changeSubmit').click(ChangeInfo);
		</script>
	</body>
</html>