<!DOCTYPE html>
	<head>
		{{>links}}
	</head>
	<body>
		<div id="main">
			{{>header}}
			<div id="content">
				<div id="bigChangeBox">
					<div id="changeBox">
						<div id="changeTitle">Verify</div>
						<div id="changeFieldBox">
							<div style="float:left; margin-left:15px; text-align : right">
								<div class="changeText">Username :</div>
								<div class="changeText">Password :</div>
							</div>
							<div style="float:right; margin-right : 15px; text-align : right">
								<input class="changeBoxInput" id="user"> <br>
								<input class="changeBoxInput" id="pass"> <br>
							</div>
						</div>
						<div id="changeTitle">Change Info</div>
						<div id="changeFieldBox">
							<div style="float:left; margin-left : 15px; text-align : right">
								<div class="changeText">Name :</div>
								<div class="changeText">Character :</div>
								<div class="changeText">Bio :</div>
								<br>
							</div>
							<div style="float:right; text-align : left">
								<input class="changeBoxInput" id="newName"> <br>
								<input class="changeBoxInput" id="newChar"> <br>
								<textarea id="changeTextarea">asdf</textarea>
							</div>
						</div>
							<div class="submit" id="changeSubmit">Submit</div>
					</div>
				</div>
			</div>
			{{>footer}}
		</div>
		<script>
			$.ajax({
				type:"GET",
				url : '/user',
				success: function (data){
					console.log("ASDFASDF"+data);
					PlaceInfo(data);
				}
			})

			function PlaceInfo (user){
				console.log(user);
				document.getElementById('newName').value = user.name;
				document.getElementById('newChar').value = user.char;
				bio = user.bio).replace('<br />', /\r?\n/g)
				console.log(bio);
				document.getElementById('changeTextarea').value = bio;
			}
            function ChangeInfo () {
            	newName = document.getElementById('newName').value;
            	newChar = document.getElementById('newChar').value;
            	user = document.getElementById('user').value;
            	pass = document.getElementById('pass').value;
            	var bio = document.getElementById('changeTextarea').value;
            	object = {
            		//"oldName":oldName,
            		//"oldChar":oldChar,
            		"name":newName,
            		"char":newChar,
            		"user":user,
            		"pass":pass,
            		"bio":bio
            	}
            	toSend = JSON.stringify(object);
            	$.ajax({
            		type:"POST",
            		url:"/edituserinfo",
            		contentType:"application/json",
            		data:toSend,
            		success : function (data){
            			if (data){
            				window.location.assign('/profile/'+data);
            			}else{
            				document.getElementById('user').style.border = " 2px solid red;"
            				document.getElementById('user').placeholder = "Required";
            				document.getElementById('pass').style.border = " 2px solid red;"
            				document.getElementById('pass').placeholder = "Required";
            			}
            		}
            	})
            }
            $('#changeSubmit').click(ChangeInfo);
		</script>
	</body>
</html>