<!DOCTYPE html>
	<head>
	{{>links}}
	</head>
	<body>
		<div id="main">
			{{>header}}
			<div id="content">
				<div id="userbox">
					<div id="pagetitle">Change Account</div>
					<div style="float:left">
						<img id="userpagepic">
					</div>
					<div id="userinfo">
						<div id="userName">Name</div><br>
						<div id="userChar">Character</div>
					</div>
				</div>
            </div>
			{{>footer}}
		</div>
		<script>
			$.ajax({
				type : "GET",
				url : "/users/:{{name}}",
				error : function (err){
					throw err;
				},
				success : function (data){
					user = JSON.parse(data).userInfo;
					posts = JSON.parse(data).posts;
					console.log(posts);
					document.getElementById('userName').innerHTML = user.name;
					document.getElementById('userChar').innerHTML = user.character;
					document.getElementById('userpagepic').src = "/db_images/"+user.image;
					var color;
					var left;
					for (i=0;i<posts.length;i++){
                        post = posts[i];
                        if (color == null){
                            color = 'red';
                        }


                        //Creates the main block of color for the post
                        newpost = document.createElement('div');
                        newpost.className = 'post post'+color;
                        document.getElementById('content').appendChild(newpost);

                        //Creates the content block inside the main block
                        contentdiv = document.createElement('div');
                        contentdiv.className = 'postcontent';
                        newpost.appendChild(contentdiv);

                        //Checks if the post has an image, and if so adds one to it.
                        if (!(post.image == 'false')){
                            image = document.createElement('img');
                            image.src = "/db_images/" + post.image;
                            contentdiv.appendChild(image);
                            if (left){
                                image.className = "postimage imageleft";
                                left = false;
                            }else{
                                image.className = "postimage imageright";
                                left = true;
                            }
                        }
                        //Creates the white background for the text
                        whitebackdiv = document.createElement('div');
                        whitebackdiv.className = ('posttextbox textbox'+color);
                        contentdiv.appendChild(whitebackdiv);

                        //Creates the title div 
                        titlediv = document.createElement('div');
                        titlediv.className = 'postTitle';
                        titlediv.innerHTML = post.title;
                        whitebackdiv.appendChild(titlediv);

                        //Creates the Author div
                        authordiv = document.createElement('a');
                        authordiv.className = 'postAuthor';
                        authordiv.innerHTML = post.author;
                        authordiv.setAttribute('href','/profile/:'+post.author);
                        whitebackdiv.appendChild(authordiv);

                        //Creates the content div
                        contentdiv = document.createElement('div');
                        contentdiv.innerHTML = post.content;
                        contentdiv.className = 'posttext';
                        whitebackdiv.appendChild(contentdiv);

                        if (color == 'red'){
                            color = 'brown';
                        }else{
                            color = 'red';
                        }
					}
				}
			})
		</script>
	</body>
</html>