<!DOCTYPE html>
	<head>
	{{>links}}
	</head>
	<body>
		<div id="main">
			{{>header}}
			<div id="content">
				<div id="userbox">
					<div id="pagetitle">Change Account</div>
					<div style="float:left">
						<img id="userpagepic">
					</div>
					<div id="userinfo">
						<div id="userName">Name</div><br>
						<div id="userchar">Character</div>
					</div>
				</div>
				<div class="post postred">
	                <div class="postcontent">
	                    <img class="postimage imageleft" src="/images/exampleimage.jpg">
	                    <div class="posttextbox textboxred">
	                        <div class="postTitle">Example text</div>
	                        <div class="posttext">
	                            This is some example text.
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
			{{>footer}}
		</div>
		<script>
			document.getElementById('userName').innerHTML = '{{name}}';
			document.getElementById('userchar').innerHTML = '{{character}}';
			document.getElementById('userpagepic').src = '/db_images/{{image}}'
		</script>
	</body>
</html>