<!DOCTYPE html>
	<head>
	{{>links}}
	</head>
	<body>
		<div id="main">
			{{>header}}
			<div id="content">
				<div id="userbox">
					<div id="pagetitle">Change Account</div>
					<div style="float:left">
						<img id="userpagepic">
                            <form action='/userpic' id='uploadpicform' style = "margin-left : 260px; visibility : hidden"enctype="multipart/form-data" method="post">
                                <input type="file" id='pic' name="upload" multiple="multiple" accept="image/*"><br>
                                <input type="hidden" name="user_id" id="user_id">
                            </form>
					</div>
					<div id="userinfo">
						<div id="userName">Name</div><br>
						<div id="userChar">Character</div>
                        <input class="changeUserIn changeUserName"><br>
                        <input class="changeUserIn changeUserChar">
					</div>
                    <!--<a id="changeUser" href="#">Change</a>-->
				</div>
            </div>
			{{>footer}}
		</div>
		<script>
            function Edit () {
                name1 = document.getElementById('userName');
                name1.style.visibility = "hidden";
                name1.style.position = "absolute";

                character1 = document.getElementById('userChar');
                character1.style.visibility = "hidden";
                character1.style.position = "absolute";

                changeName1 = document.getElementsByClassName('changeUserIn changeUserName')[0];
                changeName1.style.visibility = "visible";
                changeName1.value = name1.innerHTML;

                changeChar1 = document.getElementsByClassName('changeUserIn changeUserChar')[0];
                changeChar1.style.visibility = "visible";
                changeChar1.value = character1.innerHTML;
            }
			$.ajax({
				type : "GET",
				url : "/users/:{{name}}",
				error : function (err){
					throw err;
				},
				success : function (data){
					user = JSON.parse(data).userInfo;
					posts = JSON.parse(data).posts;
                    isUser = JSON.parse(data).isUser;
                    console.log(isUser);
					console.log(posts);
					document.getElementById('userName').innerHTML = user.name;
					document.getElementById('userChar').innerHTML = user.character;
					document.getElementById('userpagepic').src = "/db_images/"+user.image;
                    if (isUser){
                        change = document.createElement('a');
                        change.id = 'changeUser';
                        change.innerHTML = "Change";
                        document.getElementById('userbox').appendChild(change);
                        change.setAttribute("onClick","Edit()");
                    }
					var color;
					var left;
					for (i=0;i<posts.length;i++){
                        post = posts[i];
                        if (color == null){
                            color = 'red';
                        }


                        //Creates the main block of color for the post
                        newpost = document.createElement('div');
                        newpost.className = 'post post'+color;
                        document.getElementById('content').appendChild(newpost);

                        //Creates the content block inside the main block
                        contentdiv = document.createElement('div');
                        contentdiv.className = 'postcontent';
                        newpost.appendChild(contentdiv);

                        //Checks if the post has an image, and if so adds one to it.
                        if (!(post.image == 'false')){
                            image = document.createElement('img');
                            image.src = "/db_images/" + post.image;
                            contentdiv.appendChild(image);
                            if (left){
                                image.className = "postimage imageleft";
                                left = false;
                            }else{
                                image.className = "postimage imageright";
                                left = true;
                            }
                        }
                        //Creates the white background for the text
                        whitebackdiv = document.createElement('div');
                        whitebackdiv.className = ('posttextbox textbox'+color);
                        contentdiv.appendChild(whitebackdiv);

                        //Creates the title div 
                        titlediv = document.createElement('div');
                        titlediv.className = 'postTitle';
                        titlediv.innerHTML = post.title;
                        whitebackdiv.appendChild(titlediv);

                        //Creates the Author div
                        authordiv = document.createElement('a');
                        authordiv.className = 'postAuthor';
                        authordiv.innerHTML = post.author;
                        authordiv.setAttribute('href','/profile/:'+post.author);
                        whitebackdiv.appendChild(authordiv);

                        //Creates the content div
                        contentdiv = document.createElement('div');
                        contentdiv.innerHTML = post.content;
                        contentdiv.className = 'posttext';
                        whitebackdiv.appendChild(contentdiv);

                        if (color == 'red'){
                            color = 'brown';
                        }else{
                            color = 'red';
                        }
					}
				}
			})
		</script>
	</body>
</html>